{
    "type": "scilab",
    "path": "C:\\Users\\ydb\\devel\\Plotly",
    "name": "Plotly",
    "title": "Plotly",
    "help": "%t",
    "demo": "%t",
    "summary": "",
    "version": "0.0.1",
    "author": "",
    "email": "",
    "entity": "",
    "website": "",
    "licence": "GPLv2",
    "sciversion": ">= 6.0.0",
    "deps": "",
    "date": "2020-04-20",
    "description": "",
    "displayType": "Scilab"
}